%%-*- mode: erlang -*-

%% Erlang compiler options


{erl_opts, [debug_info,
            {i, "test"},
            {src_dirs, ["src"]}]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{deps_dir,["deps"]}.
{deps, [
	{cowlib, ".*", {git, "https://github.com/ninenines/cowlib.git", "1.3.0"}},
	{ranch, ".*", {git, "https://github.com/ninenines/ranch.git", "1.0.0"}}
   ]}.
{cover_enabled, true}.
{sub_dirs, ["rel"]}.

